.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, tbody {
  border-collapse: collapse
}

.box {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  border: 1px solid black;
}

.square {
  margin: 2px;
}

input {
  width: 50px;
}

.poss-grid {
  display: inline-block;
  height: 24px;
}

.tiny {
  font-size: 8px;
  margin: 0;
  padding: 0;
  border: 1px solid lightgray;
  cursor: pointer;
}

.green {
  background-color: lightgreen;
  color: green;
}

.red {
  background-color: pink;
  color: red;
}